extends layout

block content
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      form.col-lg-6.offset-lg-3
        select(type="text").form-select
          each val in character
            option(value=val).character-select #{val}
  .card
    .card-body 
      img(src="./images/t7svgs/uf.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/4.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/follow.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/f.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/3.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/follow.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/f.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/fh.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/4.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/follow.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/b.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/3.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/follow.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/f.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/2.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/follow.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/b.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/4.svg", alt="", height="40px", width="40px")
      img(src="./images/t7svgs/2.svg", alt="", height="40px", width="40px")
      